p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    color: #403527;
}

.title{
    background: #BFAE99;
    padding: 10px 200px;
}

h3{
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
}

h4{
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
}

/*Navigation*/

.navbar{
    border-bottom: 1px solid black;
    padding: 0px;
    background-color: white;
}

.navbar-brand{
    font-family:'Playfair Display', sans-serif;
    font-size: 50px;
}

.nav-link{
    font-family:'DM Sans', sans-serif;
    font-size: 18px;
    color: black;
}

.nav-link:hover{
    color: black;
    text-decoration: underline;
}

.active{
    color: black;
    text-decoration: underline;
}

/*Hero*/
.hero{
    background-image: url("../images/PPC_Hero.png");
    max-width: 100%;
    height: 398px;
    background-size: cover;
    background-position-y: 25%;
    background-position-x: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 72px;
}

.hero p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

/*Smol Intro*/
.smol-intro{
    padding: 40px 200px;
}

/*Overview*/
em{
    font-weight: 700;
    font-style: normal;
}

.container-fluid{
    padding: 40px 200px;
}

#problem{
    padding-bottom: 127%;
}

li{
    font-family:'Montserrat', sans-serif;
}

/*Research*/
.user-interviews{
    padding: 40px 200px;
}

.feedback1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.interview-box{
    width: 347px;
    height: 230px;
    background-color: #BFA07A;
    padding: 20px 20px;
    border: 1px solid black;
}

.stakeholder{
    padding: 20px 200px;
}

.stakeholder h3{
    padding-top: 50px;
}

.user-persona{
    padding: 20px 200px;
}

.persona h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

/*Ideation*/
.comp-analysis{
    padding: 40px 200px;
}

.matrix{
    padding: 20px 200px;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.user-flow{
    padding: 60px 200px;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.map{
    padding-top: 20px;
    padding-bottom: 40px;
}

.map h3{
    text-align: center;
}

/*Wireframing/Prototyping*/
.site-map{
    padding: 40px 200px;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.site-map img{
    width: 70%;
}

.style-tile{
    padding: 40px 200px;
}

.wireframe{
    padding: 40px 200px;
}

.insights{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.usability{
    padding: 40px 190px;
}

/*Responsive Prototypes*/
.mockups{
    padding: 40px 200px;
}

.row{
    margin-right: 0;
}

.card{
    border: none;
    align-items: center;
}

.desktop img{
    width: 100%
}
.mobile img{
    width: 29.3%;
}

.btn{
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    background-color: #575924;
    color: #F2F2F2;
}

.btn:hover{
    background-color: #575924;
    opacity: 0.8;
}

.end{
    padding: 40px 200px;
}

/*Footer*/

h1{
    font-family: "Playfair Display", serif;
    font-size: 50px;
}

footer{
    border-top: 1px solid black;
    padding: 20px 100px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
}

.footernav{
    font-family: 'DM sans', sans-serif;
    font-size: 18px;
    display: flex;
    width: 212px;
    justify-items: center;
    align-items: center;
    gap: 10%;
    flex-shrink: 0;   
}

.footernav li{
    list-style-type: none;
}

.footernav a{
    color: black;
    text-decoration: none;
}

.footernav a:hover{
    text-decoration: underline;
}

.logo2 a{
   color: black;
   text-decoration: none;
}

hr{
    width: 95%;
    align-content: center;
}

.inline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70%;
}

#copyright{
    font-size: 14px;
}
